<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/pages/teaching' | relative_url }}">Teaching</a></li>
        <li><a href="{{ '/pages/research' | relative_url }}">Research</a></li>
        <li><a href="{{ '/pages/in_media' | relative_url }}">In_Media</a></li>
        <li><a href="{{ '/pages/in_media2' | relative_url }}">In_Media2</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.author }}</p>
  </footer>
</body>
</html>